*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Merryweather;
}

html,body{
    width: 100%;
    height: 100%;
}

.main{
    margin: 0 20%;
    background-color: lightblue;
    width: 60%;
    height: 145%;
    display: grid;
    grid-template-columns: 35% 65%;
}

.left {
    display: grid;
    background-color: rgb(42, 170, 138);
    grid-template-rows: 28% 16% 17% 12% 9% 18%;
}

#pic {
    margin-top: 90px;
    margin-left: 120px;
    width: 260px;
    height: 260px;
    /* border: 3px solid green; */
    border-radius: 50%;
    background-image: url(Assets/resumepic.jpg);
}
#name {
    margin-top: 25px;
    margin-left: 80px;
    font-size: 27px;
    color: rgb(217, 205, 205);
}
#pos{
    margin-top: 20px;
    margin-left: 135px;
    font-size: 20px;
    color: rgb(217, 205, 205);
}
#contact {

    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
#con5 {
    display: flex;
}
#cont {
    margin-top: 20px;
    margin-left: 35px;
    font-size: 24px;
    color: rgb(217, 205, 205);
}
#con1 {
    display: flex;
}
#mail {
    margin-top: 30px;
    margin-left: 15px;
    font-size: 16px;
    color: rgb(217, 205, 205);
}
#email {
    margin-top: 22px;
    margin-left: 35px;
    width: 32px;
    height: 32px;
}
#con2 {
    display: flex;
}
#linkdn {
    margin-top: 30px;
    margin-left: 15px;
    font-size: 16px;
    color: rgb(217, 205, 205);
}
#ln {
    margin-top: 22px;
    margin-left: 35px;
    width: 32px;
    height: 32px;
}
#con3 {
    display: flex;
}
#gthb {
    margin-top: 30px;
    margin-left: 15px;
    font-size: 16px;
    color: rgb(217, 205, 205);
}
#github {
    margin-top: 22px;
    margin-left: 35px;
    width: 32px;
    height: 32px;
}
#con4 {
    display: flex;
}
#call {
    margin-top: 22px;
    margin-left: 35px;
    width: 32px;
    height: 32px;
}
#phnum {
    margin-top: 30px;
    margin-left: 15px;
    font-size: 16px;
    color: rgb(217, 205, 205);
}
#pro {
    margin-top: 35px;
    margin-left: 35px;
    font-size: 24px;
    color: rgb(217, 205, 205);
}
#bio {
    margin-top: 22px;
    margin-left: 35px;
    margin-right: 15px;
    font-size: 18px;
    line-height: 30px;
    color: rgb(217, 205, 205);
}

#lang {
    margin-top: 20px;
    margin-left: 35px;
    font-size: 24px;
    color: rgb(217, 205, 205);
}
#lng {
    margin-top: 25px;
    margin-left: 35px;
    font-size: 18px;
    color: rgb(217, 205, 205);
}
#hobb {
    font-size: 24px;
    margin-top: 35px;
    margin-left: 35px;
    color: rgb(217, 205, 205);
}
#hb {
    margin-top: 25px;
    margin-left: 35px;
    font-size: 18px;
    color: rgb(217, 205, 205);
}
#ref {
    font-size: 24px;
    margin-top: 20px;
    margin-left: 35px;
    color: rgb(217, 205, 205);
}
#lname {
    font-size: 21px;
    margin-top: 20px;
    margin-left: 35px;
    color: rgb(217, 205, 205);
}
#lpos {
    margin-top: 8px;
    margin-left: 35px;
    font-size: 18px;
    color: rgb(217, 205, 205);
}
#institute {
    margin-top: 8px;
    margin-left: 35px;
    font-size: 18px;
    color: rgb(217, 205, 205);
}
#lphone {
    margin-top: 8px;
    margin-left: 35px;
    font-size: 18px;
    color: rgb(217, 205, 205);
}
.right {
    display: grid;
    grid-template-rows: 26% 35% 39%;
}


#educ{
    margin-top: 50px;
    margin-left: 55px;
    font-size: 32px;
    color: rgb(56, 55, 55);
}
#soft {
    margin-top: 20px;
    margin-left: 55px;
    font-size: 26px;
    color: rgb(56, 55, 55);
}
#inst {
    margin-left: 55px;
    font-size: 20px;
    color: rgb(56, 55, 55);
}
#year {
    margin-left: 55px;
    font-size: 20px;
    color: rgb(56, 55, 55);
}

#proj {
    margin-top: 50px;
    margin-left: 55px;
    font-size: 32px;
    color: rgb(56, 55, 55);
}
#projname {
    margin-top: 20px;
    margin-left: 55px;
    font-size: 26px;
    color: rgb(56, 55, 55);
}
#details {
    margin-left: 55px;
    margin-right: 40px;
    font-size: 20px;
    color: rgb(56, 55, 55);
}
#built {
    margin-left: 55px;
    font-size: 20px;
    color: rgb(56, 55, 55);
}
#glink {
    margin-left: 55px;
    font-size: 20px;
    color: rgb(56, 55, 55);
}

#skill {
    margin-top: 50px;
    margin-left: 55px;
    font-size: 32px;
    color: rgb(56, 55, 55);
}
#lbl {
    margin-top: 20px;
    margin-left: 55px;
    font-size: 26px;
    color: rgb(56, 55, 55);
}
#dtl {
    margin-left: 55px;
    margin-right: 40px;
    font-size: 20px;
    color: rgb(56, 55, 55);
}